<div class="container">
  <h1>Browse all the Products</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <h5 class="card-title">Category goes here</h5>
        <img src="../../../assets/duck.png" class="card-img-top" alt="..." style="height: 212px;">
        <div class="card-body">
          <p class="card-text">title goes here.</p>
          <div class="row">
            <div class="col-md-6">
                <p>
                    <button class="btn btn-outline-warning btn-sm" >View Details</button>
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <button class="btn btn-outline-success btn-sm" >Add to wishList</button>
                </p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div>
  <pre>{{products[0] | json}}</pre>
</div>
